	html, body { height: 100%; }
	
	body
	{
		margin: 0px;
		padding: 0px;
		font-family: 'Open Sans', sans-serif;
		font-size: 11pt;
		font-weight: 300;
	}

	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 600;
		color: #454445;
	}
	
	p, ol, ul	{	margin-top: 0; }
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p	{	line-height: 180%; }
	
	a	{	color: #2372DE;	}
	
	a:hover	{	text-decoration: none; }

/*********************************************************************************/
/* Misc Styling                                                                  */
/*********************************************************************************/

.designation {
	font-weight: 400;
}

.gna-list > td, .distinctions-list > td {
	min-height: 340px;
}

.gna-list li, .distinctions-list li {
	margin-bottom: 10px;
}

.icon-certificate {
	font-size: 6px;
	margin-right: 5px;
}

.row-heading {
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
}

#read-more {
	cursor: pointer;
}

#read-more-points {
	display: none;
}

#distinctions {
	border-right: 1px solid #DDDDDD;
	padding-right: 5px;
}

.thumbnail { height: 150px; width: 150px; }

/*********************************************************************************/
/* Responsive Styling                                                            */
/*********************************************************************************/

#mobile-social { display: none; }
#desktop-social { display: inherit; }

@media only screen and (max-width: 768px){
	#mobile-social { display: inherit; }
	#desktop-social { display: none; }
	#logo { left: -1em !important; }
	#distinctions { border-right: none; margin-bottom: 35px; }
	#header-wrapper { border-bottom: none !important; }
	#header { border-bottom: 1px solid #DDDDDD !important; margin-bottom: 12px; }
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image { display: inline-block;	}
	
	.image img
	{
		display: block;
		width: 85%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

	.main-img {
		border: 1px solid #DDDDDD;
		border-radius: 5px;
		padding: 3px
	}
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	.contact-icons { font-size: 13px; text-align: center; }
	.contact-me { font-weight: 400; font-size: 17px; text-align: center; margin-bottom: 12px;}

	.icon { padding: 0px 5px 0px 5px; }
	.icon-twitter { color: #2DAAE4;	}
	.icon-facebook { color: #39599F;	}
	.icon-google-plus { color: #DD4B39; }
	.icon-envelope { color: #000000; }

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title { margin-bottom: 3em; }

	.title h2
	{
		font-weight: 400;
		font-size: 2.8em;
		color: #323232;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

	.profile-heading {
		text-align: center;
		margin: 30px 0px 30px 0px;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		position: relative;
		height: 50px;
		border-bottom: none;
		margin-bottom: none;
	}

	#header-wrapper { border-bottom: 1px solid #DDDDDD;	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
		margin-right: 25px;
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 1.25em;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		right: 0;
		top: 0;
	}
	
	#menu ul { display: inline-block;	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 0em 1.5em;
		height: 50px;
		letter-spacing: 0.20em;
		line-height: 50px;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #000000;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span	{
	}
	
	#menu .current_page_item a
	{
		background: #F5F5F5;
		color: #000000;
		border-right: 1px solid #DDDDDD;
		border-left: 1px solid #DDDDDD;
	}

/*********************************************************************************/
/* table                                                                         */
/*********************************************************************************/

.specs-table {
	border: 1px solid #DDDDDD;
}

/*********************************************************************************/
/* Description                                                                   */
/*********************************************************************************/

#desc {
	font-size: 16px;
	font-weight: 400;
}

.sub-h1 {
	font-size: 20px;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#wrapper {	background: #FFF; min-height: 600px;	}
	
	#page
	{
		overflow: hidden;
		padding: 6em 0em 0em 0em;
		margin-bottom: 15px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 1em 0em;
		border-top: 1px solid #DDDDDD;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #000000;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #000000;
	}

/*********************************************************************************/
/* Light Gallery                                                                 */
/*********************************************************************************/

.gallery li {
	display: block;
	float: left;
	height: 100px;
	margin-bottom: 6px;
	margin-right: 6px;
	width: 200px;
	height: 150px;
}
.gallery li a {
	height: 150px;
	width: 200px;
}
.gallery li a img {
	max-width: 200px;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 4em 0em;
		background: #FFF;
		text-align: center;
	}

	#featured .title { margin-bottom: 1em; }
	
	#featured .title h2	{	font-size: 1.2em;	}
	
	#featured h2 { text-align: center; }

	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 4em;
		text-align: center;
		color: #2372DE;
	}